:root {
  font-size: 16px;
  line-height: 1.425;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #595858;
}

p {
  padding-bottom: .5em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.workspace {
  width: 1440px;
  margin: 0 auto;
}

.aside {
  width: 240px;
  padding-top: 76px;
  margin-left: 160px;
  float: left;
}

.aside > #logo {
  margin-bottom: 30px;
}

.nav {
  font-weight: 500;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding-top: 35px;
  padding-bottom: 38px;
  margin-bottom: 35px;
  margin-right: 30px;
}

.nav__lists {
  padding-left: 0;
  list-style-type: none;
}

.nav__lists::before {
  content: attr(data-header);
  display: block;
  padding-bottom: 19px;
  font-family: HelveticaNeue-Medium;
  font-size: 24px;
  text-transform: capitalize;
}

.nav__list {
  position: relative;
  margin-bottom: 19px;
  padding-left: 25px;
  font-family: HelveticaNeue;
  font-size: 16px;
}

.nav__list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: .25em;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
}

.nav__list.is-active::before {
  box-shadow:
    inset 0 0 0 2px #000,
    inset 0 0 0 10px #c90435;
}

.license {
  font-size: 15px;
  font-family: PingFangTC-Regular;
}

.license__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

.license a {
  background: linear-gradient(90deg, currentColor, transparent, currentColor) repeat-x 0 90% / 4px 1px;
}

.content {
  width: 1019px;
  float: right;
  background-color: #f3f3f3;
  padding-left: 77px;
  padding-top: 36px;
  padding-right: 74px;
  padding-bottom: 74px;
}

.page {
  display: none;
}

.page > p {
  font-family: PingFangTC-Regular;
  font-size: 15px;
  color: #282828;
  line-height: 28px;
}

.image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-title,
.sub-title {
  font-family: HelveticaNeue-Medium;
  font-weight: 500;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 20px;
}

.sub-title {
  font-size: 1.5em;
}

.btn-primary{
  background-color: #c90435;
  border: 2px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 27px;
  padding-left: 44px;
  padding-right: 44px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:visited {
  background-color: #990228;
}

/* hide lazy-load image when no-js */
.no-js .lazy {
  display: none;
}

#main_visual_-_system_guide:target ~ #page-main_visual_-_system_guide,
#main_visual_-_illustration:target ~ #page-main_visual_-_illustration,
#main_visual_-_bag:target ~ #page-main_visual_-_bag,
#main_visual_-_stickers:target ~ #page-main_visual_-_stickers,
#main_visual_-_badges:target ~ #page-main_visual_-_badges,
#main_visual_-_media:target ~ #page-main_visual_-_media,
#website_-_icon:target ~ #page-website_-_icon,
#website_-_website_mockup:target ~ #page-website_-_website_mockup {
  display: block;
}

#main_visual_-_system_guide,
#main_visual_-_illustration,
#main_visual_-_bag,
#main_visual_-_stickers,
#main_visual_-_badges,
#main_visual_-_media,
#website_-_icon,
#website_-_website_mockup {
  position: fixed;
  top: 0;
  left: 0;
}
