:root {
  font-size: 16px;
  line-height: 1.425;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #595858;
}

p {
  margin-bottom: .5em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/*
 * === LAYOUT ===
 */

.workspace {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.aside {
  position: relative;
  z-index: 1;
  width: 420px;
  max-width: 80%;
  padding-top: 76px;
  padding: 76px 1.5% -0px 160px;
  padding: 76px 2% -0px 10%;
  background-color: #fff;
}

.aside-controller {
  position: sticky;
  top: 2em;
  display: none;
  padding: .75em;
  background-color: #484848;
  font: 900 .75em sans-serif;
  color: #fff;
}

@media (max-width: 60em) {
  .aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    overflow: auto;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform .3s;
  }

  .aside-controller {
    display: inline-block;
  }

  .aside-controller::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,.3);
    transition: opacity .3s, visibility .3s;
  }

  #aside-controller:checked ~ .aside {
    -webkit-transform: none;
    transform: none;
  }

  #aside-controller:checked ~ .content .aside-controller::after {
    visibility: visible;
    opacity: 1;
  }
}

.content {
  width: 1020px;
  background-color: #f3f3f3;
  padding: 2.25em 5% 4.5em;
}

/* ASIDE part */

.aside > #logo {
  margin-bottom: 30px;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 38px;
  margin-bottom: 35px;
  background-color: inherit;
  font-weight: 500;
  box-shadow:
    -10px -11px 0 -10px #979797,
    -10px 11px 0 -10px #979797;
}

.nav__lists {
  padding-left: 0;
  list-style-type: none;
}

.nav__lists::before {
  content: attr(data-header);
  display: block;
  padding-bottom: 19px;
  font-family: HelveticaNeue-Medium;
  font-size: 24px;
  text-transform: capitalize;
}

.nav__list {
  position: relative;
  margin-bottom: 19px;
  padding-left: 25px;
  font-family: HelveticaNeue;
  font-size: 16px;
}

.nav__list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: .25em;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
}

.nav__list.is-active::before {
  box-shadow:
    inset 0 0 0 2px #000,
    inset 0 0 0 10px #c90435;
}

.license {
  font-size: 15px;
  font-family: PingFangTC-Regular;
}

.license__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

.license a {
  background: linear-gradient(90deg, currentColor, transparent, currentColor) repeat-x 0 90% / 4px 1px;
}

/* CONTENT part */

.page {
  display: none;
}

.page > p {
  font-family: PingFangTC-Regular;
  font-size: 15px;
  color: #282828;
  line-height: 28px;
}

.image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-title,
.sub-title {
  font-family: HelveticaNeue-Medium;
  font-weight: 500;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 20px;
}

.sub-title {
  font-size: 1.5em;
}

.btn-primary {
  display: inline-block;
  border: 2px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 27px;
  padding: 6px 44px;
  background-color: #c90435;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
  background-color: #990228;
  text-decoration: none;
}

/* hide lazy-load image when no-js */
.no-js .lazy {
  display: none;
}

/* content page show / hide */

#main_visual_-_system_guide:target ~ #page-main_visual_-_system_guide,
#main_visual_-_illustration:target ~ #page-main_visual_-_illustration,
#main_visual_-_bag:target ~ #page-main_visual_-_bag,
#main_visual_-_stickers:target ~ #page-main_visual_-_stickers,
#main_visual_-_badges:target ~ #page-main_visual_-_badges,
#main_visual_-_media:target ~ #page-main_visual_-_media,
#website_-_icon:target ~ #page-website_-_icon,
#website_-_website_mockup:target ~ #page-website_-_website_mockup {
  display: block;
}

#main_visual_-_system_guide,
#main_visual_-_illustration,
#main_visual_-_bag,
#main_visual_-_stickers,
#main_visual_-_badges,
#main_visual_-_media,
#website_-_icon,
#website_-_website_mockup {
  position: fixed;
  top: 0;
  left: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
