img {
  max-width: 100%;
  height: auto;
}

.workspace {
  width: 1440px;
  margin: 0 auto;
}

.aside {
  width: 240px;
  padding-top: 76px;
  margin-left: 160px;
  float: left;
}

.aside > #logo {
  margin-bottom: 30px;
}

.aside > #menu_list {
  font-weight: 500;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding-top: 35px;
  padding-bottom: 38px;
  margin-bottom: 35px;
  margin-right: 30px;
}

#menu_list > ul {
  padding-left: 0;
}

#menu_list > ul > ul {
  padding-left: 25px;
}

li.active {
  list-style-image: url("active.png")
}

li {
  list-style: none;
}

#menu_list > ul > li {
  padding-bottom: 19px;
  font-family: HelveticaNeue-Medium;
  font-size: 24px;
  color: #595858;
  letter-spacing: 0px;
}

#menu_list > ul > ul > li {
  font-family: HelveticaNeue;
  font-size: 16px;
  color: #595858;
  letter-spacing: 0px;
  margin-bottom: 19px;
}

#menu_list > ul > ul > li > a {
  color: #595858;
}

#license > h1{
  font-family: PingFangTC-Regular;
  font-size: 18px;
  color: #595858;
  letter-spacing: 0px;
  margin-bottom: 25px;
}

#license {
  font-family: PingFangTC-Regular;
  font-size: 15px;
  color: #595858;
  letter-spacing: 0px;
}

body {
   font-family: "Helvetica Neue","HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   color: #595858;
}

.content {
  width: 1019px;
  float: right;
  background-color: #f3f3f3;
  padding-left: 77px;
  padding-top: 36px;
  padding-right: 74px;
  padding-bottom: 74px;
}

.page > p {
  font-family: PingFangTC-Regular;
  font-size: 15px;
  color: #282828;
  letter-spacing: 0px;
  line-height: 28px;
}

.page > p > a {
  color: #595858;
}

.image {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page > h1 {
  margin-top: 50px;
  font-family: HelveticaNeue-Medium;
  font-size: 24px;
  color: #595858;
  letter-spacing: 0px;
  margin-bottom: 20px;
}

.btn-primary{
  background-color: #c90435;
  border: 2px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 27px;
  padding-left: 44px;
  padding-right: 44px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:visited {
  background-color: #990228;
}

#license > p > a {
  color: #595858;
}

a {
  cursor: pointer;
}

/* hide lazy-load image when no-js */
.no-js .lazy {
  display: none;
}
